body{
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 18px;
	background-image: linear-gradient();
}

.content{
	width: 220px; margin: 130px auto;
	border: 10px outset black;
	padding: 20px 40px 10px 40px;
	box-shadow:  1px 0px 4px rgba(15,15,15,0.21);
}
.avatar{
	width: 60px; height: 60px; margin-top: -10px;
	border-radius: 50%; box-shadow: 0px 0px 4px rgba(1,1,1,0.54);
}

.register{
	font-size: 30px; line-height: 0px;
	margin: 15px 5px 30px 5px; font-family: times new roman;
	text-shadow: 1px 0px 4px rgba(15,15,15,0.25);
}

.content form label{
	font-weight: bold; font-size: 17px; margin: 0px;
	text-shadow: 1px 0px 4px rgba(15,15,15,0.21);
}

.content form input{
	display: block; margin: 10px auto;
	border-style: outset; border-color: black;
	box-shadow: 1px 0px 4px rgba(15,15,15,0.21);
	text-align: center; margin: 5px 10px 20px 10px;
}

.content form button{
	background-color: grey;
	border-color: black; border-style: outset;
	color: white; line-height: 20px;
	margin-top: 10px; margin-bottom: 10px;
	transition: .5s; box-shadow:  1px 0px 4px rgba(15,15,15,0.21);
}

.content form button:hover{
	background-color: rgba(15,15,15,0.77);
	border-color: black; border-style: outset;
	color: white; line-height: 20px;
	margin-top: 10px; margin-bottom: 10px;
	transition: .5s; box-shadow:  1px 0px 4px rgba(15,15,15,0.21);
}

.content a{
	font-size: 12px; padding: 0px; color: black; font-family: times new roman;
	transition: .4s; text-shadow: 1px 0px 4px rgba(15,15,15,0.21);
}

.content a:hover{
	font-size: 10px; padding: 0px; color: blue; font-size: 12px;
	transition: .4s; text-shadow: 1px 0px 4px rgba(15,15,15,0.21);
}

